<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SatNOGS Client{% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />

    <!-- CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-datetimepicker.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-switch.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">
    {% block css %}{% endblock %}
  </head>

  {% set navigation_bar = [
    ('/', 'status', 'Status'),
    ('/control/', 'control', 'Control'),
    ('/configuration/', 'configuration', 'Configuration')
  ] -%}

  {% set control_menu = [
    ('/satnogs_control', 'satnogs', 'Ground Station'),
    ('/upsat_control', 'upsat', 'UPSat')
  ] -%}

  {% set active_page = active_page|default('status') -%}

  <body>
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
              <img id="navbar-logo" alt="SatNOGS net" style="width: 80px;" src="/static/img/satnogs_client.png">
            </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              {% for href, id, caption in navigation_bar %}
                {% if id == 'control' %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ caption|e }} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    {% for href, id, caption in control_menu %}
                    <li><a href="{{ href|e }}">{{ caption|e }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
                {% else %}
                <li{% if id == active_page %} class="active"{% endif
                %}><a href="{{ href|e }}">{{ caption|e }}</a>
                </li>
                {% endif %}
              {% endfor %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <div id="mode-switch" class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Network Mode<span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li data-value="Stand-Alone"><a>Switch to Stand-alone mode</a></li>
                  <li data-value="Network" style="display:none;"><a>Switch to Network mode</a></li>
                </ul>
              </div>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <div id="backend-status" class="offline-circle" title="Backend Status"></div>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>

    {% block content %}{% endblock %}

    <!-- JS -->
    <script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/moment.js')}}"></script>
    <script src="{{ url_for('static', filename='js/livestamp.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-datetimepicker.js') }}"></script>
    <script src="{{ url_for('static', filename='js/js.cookie.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-switch.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.io-1.4.5.js') }}"></script>
    <script src="{{ url_for('static', filename='js/satnogs.js') }}"></script>
    {% block js %}{% endblock %}
  </body>
</html>
