<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SatNOGS Client</title>

    <!-- CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">SatNOGS Client</a>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="settings">
	<h1>Configuration</h1>
	<div class="settings-list">
	  <table class="table table-striped">
	    <tr>
	      <th>Key</th>
	      <th>Value</th>
	    </tr>
	    {% for (key, value) in settings %}
	      <tr>
		<td>{{ key }}</td>
		<td>{{ value }}</td>
	      </tr>
	    {% endfor %}
	  </table>
	</div>
      </div>
    </div>

    <!-- JS -->
    <script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>
