{% extends "base.j2" %}
{% set active_page = "satnogs_control" %}

{% block title %} - Ground Station C&amp;C{% endblock %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <h1>Ground Station <small>Command&amp;Control</small></h1>
    </div>
    <div id="gs-cnc">
      <div class="gs-cnc-panel-minimal">
        <div class="gs-cnc-panel-heading">
          <h2 class="panel-title">New Observation</h2>
          <div class="panel-subtitle">
            <span class="glyphicon glyphicon-time glyphicon-weight" aria-hidden="true"></span>
            Timeframes are in <a href="#" data-toggle="modal" data-target="#UTCModal">UTC</a>
          </div>
          <div class="modal fade" id="UTCModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                  </button>
                  <h4 class="modal-title" id="UTCModalTitle"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></h4>
                </div>
                <div class="modal-body">
                  <div class="panel panel-default">
                    <div class="panel-heading">UTC</div>
                    <div class="panel-body">
                      <span id="timezone-utc"></span>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">your local time</div>
                    <div class="panel-body">
                      <span id="timezone-local"></span>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                   <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
        </div>
        <div class="gs-cnc panel-body">
          <div class="row">
            <div class="col-xs-12 col-md-4">
              <div class="input-group">
                <span class="input-group-addon">TLE 0</span>
                <input type="text" id="gs-cnc-tle0" class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-xs-12 col-md-4">
              <div class="input-group">
                <span class="input-group-addon">TLE 1</span>
                <input type="text" id="gs-cnc-tle1" class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-xs-12 col-md-4">
              <div class="input-group">
                <span class="input-group-addon">TLE 2</span>
                <input type="text" id="gs-cnc-tle2" class="form-control" placeholder="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-5 col-md-5">
              <div class="input-group">
                <span class="input-group-addon">GNURadio flowgraph</span>
                <select class="form-control" id="gs-cnc-gnuradio-flowgraph">
                </select>
              </div>
            </div>
            <div class="col-xs-7 col-md-7">
              <div class="input-group">
                <span class="input-group-addon">Arguments</span>
                <input type="text" id="gs-cnc-gnuradio-args" class="form-control" placeholder="">
                <span class="input-group-addon"><a href="#" data-toggle="modal" data-target="#argModal"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a></span>
              </div>
              <div class="modal fade" id="argModal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                      </button>
                      <h4 class="modal-title" id="argModalTitle"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></h4>
                    </div>
                    <div class="modal-body">
                      <div class="panel panel-default">
                        <div class="panel-heading">Options:</div>
                        <div class="panel-body">
                          <ul class="list-group" id="gnuradio-arg-modal">
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-4">
              <div class='input-group date' id="gs-cnc-start" style="display:table;">
                <span class="input-group-addon">Start Time</span>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar glyphicon-weight"></span>
                </span>
              </div>
            </div>
            <div class="col-xs-12 col-md-4">
              <div class='input-group date' id="gs-cnc-end" style="display:table;">
                <span class="input-group-addon">End Time</span>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar glyphicon-weight"></span>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <button type="button" id="gs-cnc-set-observation" class="btn btn-primary">Schedule Observation</button>
            </div>
          </div>
        </div>
      </div>
      <div class="gs-cnc-panel-minimal">
        <div class="gs-cnc-panel-heading">
          <h2 class="panel-title">Scheduled Observations</h2>
        </div>
      </div>
      <div>
        <table class="table table-hover" id="scheduled_obs_table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Flowgraph</th>
              <th>Timeframe</th>
            </tr>
          </thead>
            <tbody>
            </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/satnogs-control.js') }}"></script>
{% endblock %}
