{% extends "base.j2" %}
{% set active_page = "status" %}

{% block title %} - Status{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-10">
      <h1>Ground station</h1>
    </div>
  </div>
  <div class="row">
    <div class="gs-info table-responsive col-xs-12">
      <div class="gs-front-line">
        <span class="label-gs">ID</span>
        <span class="gs-front-data" id="gs-id">
        </span>
      </div>
      <div class="gs-front-line">
        <span class="label-gs">Coordinates</span>
        <span class="gs-front-data" id="gs-coord">
        </span>
      </div>
      <div class="gs-front-line">
        <span class="label-gs">Altitude</span>
        <span class="gs-front-data" id="gs-alt">
        </span>
      </div>
      <div class="gs-front-line">
        <span class="label-gs">Azimuth</span>
        <span class="gs-front-data" id="gs-azim">
        </span>
      </div>
      <div class="gs-front-line">
        <span class="label-gs">Elevation</span>
        <span class="gs-front-data" id="gs-elev">
        </span>
      </div>
      <div class="gs-front-line">
        <span class="label-gs">Frequency</span>
        <span class="gs-front-data" id="gs-freq">
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <hr/>
  </div>
  <div class="row">
    <div class="gs-btn  col-xs-12">
      <a id="scheduled-btn" class="btn btn-default" role="button" data-toggle="collapse" href="#scheduled-obs-frame" aria-expanded="false" aria-controls="#scheduled-obs-frame">
        Scheduled observations <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
      </a>
    </div>
    <div class="col-xs-12" id="scheduled-obs-frame">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-primary" id="response-panel">
        <div class="panel-heading">
          Terminal
        </div>
        <div class="panel-body" id="response-panel-body">
          <ul class="list-unstyled" id="log-list">
          </ul>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-12" id="terminal-btn-panel">
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" id="save-log">
                  <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default" id="clear-log">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" id="filter-section">
                    <li>
                      <input checked="true" type="checkbox" value="debug"/>
                      <label>Debug</label>
                    </li>
                    <li>
                      <input checked="true" type="checkbox" value="error"/>
                      <label>Error</label>
                    </li>
                    <li>
                      <input checked="true" type="checkbox" value="info"/>
                      <label>Info</label>
                    </li>
                  </ul>
                </div>
              </div>
              <div id="terminal-warn-msg">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Warning:</span>
               Logging info is lost after page refresh
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
  <script src="{{ url_for('static', filename='js/FileSaver.js') }}"></script>
  <script src="{{ url_for('static', filename='js/satnogs-status.js') }}"></script>
{% endblock %}
