{% extends "base.j2" %}
{% set active_page = "upsat_control" %}

{% block title %} - UPSat C&amp;C{% endblock %}

{% block content %}
  <div class="container">
    <h1>UPSat C&amp;C</h1>
    <div class="row" id="cnc_mode">
      <div class="col-md-7">
        <div class="row" id="switch-panel">
          <div class="col-md-12" id="command-col">
            <div class="row">
              <div class="col-xs-12 col-md-12">
                  <div class="inline-label-bold">Backend</div>
                  <div>
                    <div class="btn-group" role="group">
                      <button type="button" class="btn label-success" name="" id="comms-gnu">GNURadio</button>
                      <button type="button" class="btn label-danger" name="" id="comms-ser">Serial</button>
                    </div>

                  </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-xs-4">
                <ul class="nav nav-tabs nav-stacked" id="service-select">
                  <li data-value="time" role="presentation" id="time-select" class="active"><a>Time</a></li>
                  <li data-value="power" role="presentation" id="power-select"><a>Power</a></li>
                  <li data-value="test" role="presentation" id="test-select"><a>Test</a></li>
                  <li data-value="mass" role="presentation" id="ms-select"><a>Mass Storage</a></li>
                  <li data-value="house" role="presentation" id="hk-select"><a>House keeping</a></li>
                  <li data-value="custom" role="presentation" id="custom-select"><a>Custom</a></li>
                  <li data-value="adcs" role="presentation" id="tle-select"><a>ADCS TLE update</a></li>
                  <li data-value="comms" role="presentation" id="comms-select"><a>Comms</a></li>
                </ul>
              </div>
              <div class="col-xs-8" id="service-param-panel">
                <div id="service-param-tle" style="display:none;">
                  <div class="row">
                    <div class="col-md-4">
                      <label>TLE:</label>
                    </div>
                    <div class="col-md-8">
                      <input class="form-control" type="text" id="service-param-service-tle">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-8">
                      <div class="text-right">
                        <button class="btn btn-primary"> Send </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="service-param-comms" style="display:none;">
                  <div class="row">
                    <div class="col-md-6">
                      <button type="button" class="btn label-success" name="comms-tx-on" id="comms-tx-on">Enable</button>
                    </div>
                    <div class="col-md-6">
                      <button type="button" class="btn label-danger" name="comms-tx-off" id="comms-tx-off">Shutdown</button>
                    </div>
                  </div>
                </div>
                <div id="service-param-custom" style="display:none;">
                  <div class="row">
                    <div class="col-md-4">
                      <label>Application ID:</label>
                    </div>
                    <div class="col-md-8">
                      <select id="service-param-app_id" class="form-control">
                        <option selected="true" style="display:none;">Applicaiton ID:</option>
                        <option value="1" >OBC</option>
                        <option value="2" >EPS</option>
                        <option value="3" >ADCS</option>
                        <option value="4" >COMMS</option>
                        <option value="6" >GND</option>
                        <option value="7" >UMB</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <label>Type:</label>
                    </div>
                    <div class="col-md-8">
                      <select id="service-param-type" class="form-control">
                        <option selected="true" style="display:none;">Type</option>
                        <option value="0" >TM</option>
                        <option value="1" >TC</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <label>ACK:</label>
                    </div>
                    <div class="col-md-8">
                      <select id="service-param-ack" class="form-control">
                        <option selected="true" style="display:none;">ACK</option>
                        <option value="0" >NO ACK</option>
                        <option value="1" >ACK</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <label>Service Type:</label>
                    </div>
                    <div class="col-md-8">
                      <select id="service-param-service_type" class="form-control">
                        <option selected="true" style="display:none;">Service Type</option>
                        <option value="1" >TC_VERIFICATION_SERVICE</option>
                        <option value="3" >TC_HOUSEKEEPING_SERVICE</option>
                        <option value="5" >TC_EVENT_SERVICE</option>
                        <option value="8" >TC_FUNCTION_MANAGEMENT_SERVICE</option>
                        <option value="9" >TC_TIME_MANAGEMENT_SERVICE</option>
                        <option value="11" >TC_SCHEDULING_SERVICE</option>
                        <option value="13" >TC_LARGE_DATA_SERVICE</option>
                        <option value="15" >TC_MASS_STORAGE_SERVICE</option>
                        <option value="17" >TC_TEST_SERVICE</option>
                        <option value="18" >TC_SU_MNLP_SERVICE</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <label>Service Subtype:</label>
                    </div>
                    <div class="col-md-8">
                      <select id="service-param-service_subtype" class="form-control">
                        <option selected="true" style="display:none;">Service sub Type</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <label>Destination ID:</label>
                    </div>
                    <div class="col-md-8">
                      <select id="service-param-dest_id" class="form-control">
                        <option selected="true" style="display:none;">Dest ID</option>
                        <option value="1" >OBC</option>
                        <option value="2" >EPS</option>
                        <option value="3" >ADCS</option>
                        <option value="4" >COMMS</option>
                        <option value="6" >GND</option>
                        <option value="7" >UMB</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <label>Application Data:</label>
                    </div>
                    <div class="col-md-8">
                      <input class="form-control" type="text" id="service-param-service-data">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-8">
                      <div class="text-right">
                        <button class="btn btn-primary"> Send </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="service-param-housekeeping" style="display:none;">
                  <div class="row">
                    <div class="col-md-4">
                      <label>Application ID:</label>
                    </div>
                    <div class="col-md-8">
                      <select id="service-param-hk-app_id" class="form-control">
                        <option selected="true" style="display:none;">Application ID:</option>
                        <option value="1" >OBC</option>
                        <option value="2" >EPS</option>
                        <option value="3" >ADCS</option>
                        <option value="4" >COMMS</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <label>Service ID:</label>
                    </div>
                    <div class="col-md-8">
                      <select id="service-param-hk-sid" class="form-control">
                        <option selected="true" style="display:none;">Service ID:</option>
                        <option value="1" >HEALTH_REP</option>
                        <option value="2" >EX_HEALTH_REP</option>
                        <option value="6" >SCIENCE HEADER</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <label>Destination ID:</label>
                    </div>
                    <div class="col-md-8">
                      <select id="service-param-hk-dest-id" class="form-control">
                        <option selected="true" style="display:none;">Destination ID:</option>
                        <option value="6" >GND</option>
                        <option value="7" >UMB</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-8">
                      <div class="text-right">
                        <button class="btn btn-primary"> Send </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="service-param-mass-storage" style="display:none;">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="panel panel-default" id="file-browser-panel">
                        <div class="panel-body">
                          <table class="table table-hover table-condensed table-responsive">
                          	<thead>
                          		<tr>
                          			<th>
                          				ID
                          			</th>
                          			<th>
                          				Filename
                          			</th>
                          			<th>
                          				Size
                          			</th>
                                <th>
                          				Last Modified
                          			</th>
                          		</tr>
                          	</thead>
                          	<tbody>
                          		<tr>
                          			<td>
                          				1
                          			</td>
                          			<td>
                          				Test.txt
                          			</td>
                          			<td>
                          				32Kb
                          			</td>
                                <td>
                          				21/05/16 19:56:4
                          			</td>
                          		</tr>
                              <tr>
                          			<td>
                          				3
                          			</td>
                          			<td>
                          				Test2.dat
                          			</td>
                          			<td>
                          				456Kb
                          			</td>
                                <td>
                          				20/05/16 19:12:2
                          			</td>
                          		</tr>
                          	</tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <label>Function:</label>
                    </div>
                    <div class="col-md-8">
                      <select id="service-param-ms-function" class="form-control">
                        <option selected="true" style="display:none;">App ID</option>
                        <option value="File_system" >File system</option>
                        <option value="Format" >Format</option>
                        <option value="Enable" >Enable</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <label>ACK:</label>
                    </div>
                    <div class="col-md-8">
                      <select id="service-param-ms-ack" class="form-control">
                        <option selected="true" style="display:none;">ACK</option>
                        <option value="1" >ACK</option>
                        <option value="0" >NO ACK</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <label>Destination ID:</label>
                    </div>
                    <div class="col-md-8">
                      <select id="service-param-ms-dest-id" class="form-control">
                        <option selected="true" style="display:none;">Dest ID</option>
                        <option value="6" >GND</option>
                        <option value="7" >UMB</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <label>Store ID:</label>
                    </div>
                    <div class="col-md-8">
                      <select id="service-param-ms-sid" class="form-control">
                        <option selected="true" style="display:none;">Store ID</option>
                        <option value="1" >SU_SCRIPT 1</option>
                        <option value="2" >SU_SCRIPT 2</option>
                        <option value="3" >SU_SCRIPT 3</option>
                        <option value="4" >SU_SCRIPT 4</option>
                        <option value="5" >SU_SCRIPT 5</option>
                        <option value="6" >SU_SCRIPT 6</option>
                        <option value="7" >SU_SCRIPT 7</option>
                        <option value="8" >SU_LOG</option>
                        <option value="9" >WOD_LOG</option>
                        <option value="10" >EXT_WOD_LOG</option>
                        <option value="11" >EVENT_LOG</option>
                        <option value="12" >FOTOS</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <label>Action:</label>
                    </div>
                    <div class="col-md-8">
                      <select id="service-param-ms-action" class="form-control">
                        <option selected="true" style="display:none;">Action</option>
                        <option value="Delete" >Delete</option>
                        <option value="All" >Delete all</option>
                        <option value="Hard" >Hard delete</option>
                        <option value="Report" >Report</option>
                        <option value="List" >List</option>
                        <option value="Downlink" >Downlink</option>
                        <option value="Uplink" >Uplink</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <label>Num/Iter:</label>
                    </div>
                    <div class="col-md-8">
                      <div class="text-center m-b-md">
                        <input class="form-control" type="text" id="service-param-service-ms-num">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-8">
                      <div class="text-right">
                        <button class="btn btn-primary"> Send </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="service-param-test" style="display:none;">
                  <div class="row">
                    <div class="col-md-4">
                      <label>Application ID:</label>
                    </div>
                    <div class="col-md-8">
                      <select id="service-param-test-app_id" class="form-control">
                        <option selected="true" style="display:none;">Application ID:</option>
                        <option value="1" >OBC</option>
                        <option value="2" >EPS</option>
                        <option value="3" >ADCS</option>
                        <option value="4" >COMMS</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <label>Destination ID:</label>
                    </div>
                    <div class="col-md-8">
                      <select id="service-param-test-dest_id" class="form-control">
                        <option selected="true" style="display:none;">Destination ID:</option>
                        <option value="6" >GND</option>
                        <option value="7" >UMB</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-8">
                      <div class="text-right">
                        <button class="btn btn-primary"> Send </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="service-param-power" style="display:none;">
                  <div class="row">
                    <div class="col-md-4">
                      <label>Application ID:</label>
                    </div>
                    <div class="col-md-8">
                      <select id="service-param-dev-id" class="form-control">
                        <option selected="true" style="display:none;">App ID</option>
                        <option value="1" >OBC_DEV_ID</option>
                        <option value="2" >EPS_DEV_ID</option>
                        <option value="3" >ADCS_DEV_ID</option>
                        <option value="4" >COMMS_DEV_ID</option>
                        <option value="5" >IAC_DEV_ID</option>
                        <option value="6" >SU_DEV_ID</option>
                        <option value="7" >GPS_DEV_ID</option>
                        <option value="8" >OBC_SD_DEV_ID</option>
                        <option value="9" >ADCS_SD_DEV_ID</option>
                        <option value="10" >ADCS_SENSORS</option>
                        <option value="11" >ADCS_GPS</option>
                        <option value="12" >ADCS_MAGNETO</option>
                        <option value="13" >ADCS_SPIN</option>
                        <option value="14" >ADCS_GPS</option>
                        <option value="15" >ADCS_GPS</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <label>Type:</label>
                    </div>
                    <div class="col-md-8">
                      <select id="service-param-function" class="form-control">
                        <option selected="true" style="display:none;">Type</option>
                        <option value="1" >ON</option>
                        <option value="0" >OFF</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <label>ACK:</label>
                    </div>
                    <div class="col-md-8">
                      <select id="service-param-power-ack" class="form-control">
                        <option selected="true" style="display:none;">ACK</option>
                        <option value="0" >NO ACK</option>
                        <option value="1" >ACK</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <label>Destination ID:</label>
                    </div>
                    <div class="col-md-8">
                      <select id="service-param-power-dest_id" class="form-control">
                        <option selected="true" style="display:none;">Dest ID</option>
                        <option value="6" >GND</option>
                        <option value="7" >UMB</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-8">
                      <div class="text-right">
                        <button class="btn btn-primary"> Send </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="service-param-time">
                  <div class="row">
                    <div class="col-md-4">
                      <label>Function:</label>
                    </div>
                    <div class="col-md-8">
                      <select id="service-param-time-report" class="form-control">
                        <option selected="true" style="display:none;">Function</option>
                        <option value="manual" >Set time in UTC</option>
                        <option value="auto" >Set current time in UTC</option>
                        <option value="utc" >Get UTC time</option>
                        <option value="qb50" >Get QB50 time</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <label>Destination:</label>
                    </div>
                    <div class="col-md-8">
                      <select id="service-param-time-dest_id" class="form-control">
                        <option selected="true" style="display:none;">Dest ID</option>
                        <option value="6" >GND</option>
                        <option value="7" >UMB</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <label>Application ID:</label>
                    </div>
                    <div class="col-md-8">
                      <select id="service-param-time-app_id" class="form-control">
                        <option selected="true" style="display:none;">Application ID:</option>
                        <option value="1" >OBC</option>
                        <option value="3" >ADCS</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <label>Time:</label>
                    </div>
                    <div class="col-md-8">
                      <div class='input-group date' id='datetimepicker1' style="display:table;">
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-8">
                      <div class="text-right">
                        <button class="btn btn-primary"> Send </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
                <div class="box__input box has-advanced-upload">
                   <svg class="box__icon" xmlns="http://www.w3.org/2000/svg" width="50" height="43" viewBox="0 0 50 43">
                    <path d="M48.4 26.5c-.9 0-1.7.7-1.7 1.7v11.6h-43.3v-11.6c0-.9-.7-1.7-1.7-1.7s-1.7.7-1.7 1.7v13.2c0 .9.7 1.7 1.7
                            1.7h46.7c.9 0 1.7-.7 1.7-1.7v-13.2c0-1-.7-1.7-1.7-1.7zm-24.5 6.1c.3.3.8.5 1.2.5.4 0 .9-.2 1.2-.5l10-11.6c.7-.7.7-1.7
                            0-2.4s-1.7-.7-2.4 0l-7.1 8.3v-25.3c0-.9-.7-1.7-1.7-1.7s-1.7.7-1.7 1.7v25.3l-7.1-8.3c-.7-.7-1.7-.7-2.4 0s-.7 1.7 0 2.4l10
                             11.6z">
                    </path>
                  </svg>
                  <input type="file" name="files[]" id="file" class="box__file" data-multiple-caption="{count} files selected" multiple="">
                  <label for="file"><strong>Choose a file</strong></label>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="panel panel-primary" id="response-panel">
          <div class="panel-heading">Terminal</div>
          <div class="panel-body" id="response-panel-body">
            <ul class="list-unstyled" id="log-list">
            </ul>
          </div>
          <div class="panel-footer">
            <div class="row">
              <div class="col-md-6">
                <div class="btn-group" role="group" aria-label="...">
                  <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span>
                  </button>
                  <button type="button" class="btn btn-default" id="clear-log">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </button>

                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="filter-section">
                      <li>
                        <input checked="true" type="checkbox" value="cmd"/>
                        <label>Command</label>
                      </li>
                      <li>
                        <input checked="true" type="checkbox" value="other"/>
                        <label>Other</label>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div id="backend_online"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-primary" id="response-panel-wod">
          <div class="panel-heading">WOD</div>
          <div class="panel-body" id="response-panel-body-wod">
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="network_mode">
    </div>
  </div>

{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='js/upsat-control.js') }}"></script>
{% endblock %}
